html,body,h1,h2,h3,h4,h5,h6,p,i {font-family:"Prompt", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a {
  text-decoration: none;
}